* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/*MAKES <figure> APPLY A BACKGROUND IMAGE ABOVE CLASS OF CONTENT*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*HEADER SECTION BEGINS*/
.header {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}
/*CHANGES FONT COLOR OF SEO IN HORISEON <h1>*/
.seo {
  color:  #d9dcd6;
}
/*FLOATS NAV SELECTORS TO RIGHT*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header li {
  display: inline-block;
  margin-left: 25px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}
/*HEADER SECTION ENDS */

/*CONTENT SECTION START*/
.content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 75%;
  display: inline-block;
  margin-left: 20px;
  color: #ffffff;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*CARDS IN CONTENT SECTION BEGIN*/
.floatRight {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
}

.floatLeft {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
}
/*CARDS IN CONTENT SECTION END*/
/*FLOATS IMAGES TO LEFT AND SETS IMG SIZE*/
.floatLeft img {
  max-height: 200px;
  float: left;
  margin-right: 25px;
}
/*FLOATS IMAGE TO RIGHT AND SETS IMAGE SIZE*/
.floatRight img {
  max-height: 200px;
  float: right;
  margin-left: 25px;
}
/*CONTENT SECTION END*/
/*BENEFITS SECTION START*/
.benefits {
  margin-right: 20px;
  padding: 15px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  background-color: #0072bb;
  text-align: center;
}
/*PROPERLY SPACES ELEMENTS IN ASIDE*/
.benefits p {
  margin-bottom: 32px;
  text-align: left;
}

/*ADJUSTS IMAGES TO FIT IN ASIDE*/
.benefits img {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}
/*BENEFITS SECTION END*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
